.logo {
  display: flex;
  align-items: center;
  padding-left: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (max-width: 760px) {
  .logo {
    padding: 0;
  }
}
